* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

body{
    background-color: red;
}

.log-container{
    margin-top: 15%;
    text-align: center;
}

.log-container button{
    padding: 10px;
    background-color: yellow;
    border: 2px solid black;
    color: red;
    font-weight: bold;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* for IE 9 */
  -webkit-transform: translate(-50%, -50%); /* for Safari */
}

main h1{
    color: yellow;
    text-align: center;
    margin-bottom: 100px;
    border-radius: 4px;
    border: 1px solid yellow;
    box-shadow: -10px 10px 40px rgba(0,0,0,0.25);

    
}

.stock-container{
    background-color: yellow;
    text-align: center;
    padding: 75px;
    box-shadow: -10px 10px 40px rgba(0,0,0,0.25);

}

ul{
    list-style: none;
}

ul li{
    padding: 1rem;
}

ul li h2{
    color: red;
}

ul li input{
    margin-top: 1rem;
    border-style: groove;
    padding: 5px;
    border: 2px solid red;
}

ul button{
  height: auto;
  margin-top: 20px;
  padding: 10px 50px;
  position: relative;
  border: 2px solid red;
  border-radius: 10px;
  background-color: white;
  transition: all 0.5s ease;
}

ul button:hover{
    background-color: lightgrey;
}